/*
    ----------------- COMMON CSS ------------------------
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap%27');

:root {
    --ff-sans-serif: 'Poppins', sans-serif;
    --fs-reg: 1em;
    --fs-nav: 18px;
    --fs-desc: 1em;
    --fs-team: 1.25em;
    --fs-name: 1.75em;

    --fw-reg: 400;
    --fw-bold: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--ff-sans-serif);
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    min-height: calc(100vh - 175px); /* Letting footer stay on bottom */
    /* margin-bottom: -170px; */
    /* This number will always be the height of the footer */
}

section {
    padding: 3rem 1.5rem;
}

.inactive,
.inactive * {
    visibility: hidden !important;
    height: 0 !important;
    position: absolute;
}

/* Navbar */
#navbar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "logo-container nav-elements nav-elements nav-elements";
    align-items: center;
    padding: 0 50px;
    width: 100%;
    height: 70px;
    background: #014F86;
    box-shadow: 0px 1px 5px #999;
}

.logo-container {
    cursor: pointer;
    grid-area: logo-container;
    justify-self: start;
    height: inherit;
    display: flex;
    align-items: center;
    margin-left: 16px;
}

#logo-img {
    height: 40px;
}

span#logo-txt {
    color: white;
    padding-left: 15px;
    font-size: 1.5em;
}

.nav-elements {
    grid-area: nav-elements;
    justify-self: end;
    height: inherit;
    display: flex;
    color: white;
    font-size: var(--fs-nav);
}

.nav-element {
    margin: auto 1em;
}

.nav-element:hover{
    color: #DAB71C;
    transition: ease-in 100ms;
}

.nav-icon {
    width: 26px;
    fill: white;
    pointer-events: none;
}

#navbar button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

#mobile-menu {
    position: absolute;
    margin-top: 70px;
    width: 100%;
    left: 0;
    text-align: center;
    background: rgb(0 0 0 / 0.7);
    height: 100vh;
    transition: all 300ms;
}

#mobile-menu-btn {
    display: none;
}

.mobile-nav-element {
    width: 100%;
    display: block;
    padding-bottom: 3em;
    color: #f2f2f2;
    font-size: 18px;
}

.mobile-nav-element:first-child {
    padding-top: 25%;
}

@media (max-width: 769px) {
    #navbar {
        padding: 0 10px;
    }

    .nav-element {
        display: none;
    }

    #mobile-menu-btn {
        display: initial;
    }
}

/* END Navbar */

/* Footer */
footer {
    display: flex;
    width: 100%;
    margin-top: auto;
    align-items: center;
    justify-content: space-between;
    background-color: #012A4A;
    padding: 15px 56px;
}

.socialContainer {
    display: inline-flex;
}

.socialIcons {
    width: 30px;
    /* padding: 0 10px; */
    margin: auto 10px;
}

.socialIcons img:hover {
    opacity: 70%;
    transition: ease-in 100ms;
}


.copyright {
    font-size: var(--fs-reg);
    color: white;
}


.contactInfo * {
    display: flex;
    flex-direction: column;
    font-size: var(--fs-reg);
    text-align: right;
    color: white;
    margin-right: 10px;
}

.contactInfo a {
    text-decoration: none;
    color: white;
}

.contactInfo a:hover {
    color: #DAB71C;
    transition: ease-in 100ms;
}

/* END Footer */


/*
    ----------------- END COMMON CSS ------------------------
*/

@media screen and (max-width: 1199px) and (min-width: 770px) {
    .copyright {
        font-size: 14px;
    }

    .contactInfo {
        font-size: 14px;
    }

    .socialIcons {
        width: 25px;
        /* padding: 0 10px; */
        margin: auto 5px;
    }
    
    .socialIcons img:hover {
        opacity: 70%;
        transition: ease-in 100ms;
    }
}

@media screen and (max-width: 769px) and (min-width: 576px) {
    .footer {
        padding: 15px 10px;
    }

    .copyright {
        font-size: 12px;
    }

    .contactInfo {
        font-size: 12px;
    }

    .socialIcons {
        width: 20px;
        /* padding: 0 10px; */
        margin: auto 5px;
    }
    
    .socialIcons img:hover {
        opacity: 70%;
        transition: ease-in 100ms;
    }
}

@media screen and (max-width: 575px) {
   
    .footer {
        display: flex;
        gap: 10px;
        flex-direction: column;
        padding: 15px 10px;
    }

    .copyright {
        font-size: 10px;
    }

    .contactInfo * {
        text-align: center;
        font-size: 10px;
    }

    .socialIcons {
        width: 20px;
        /* padding: 0 10px; */
        margin: auto 5px;
    }
    
    .socialIcons img:hover {
        opacity: 70%;
        transition: ease-in 100ms;
    }
}