@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--ff-sans-serif);
}

:root {   /* Root Properties */

    /* Font Properties */
    --ff-sans-serif:'Poppins', sans-serif;

    --fs-reg: 1em;
    --fs-desc: 1em;
    --fs-team: 1.25em;
    --fs-name: 1.75em;
    --fs-heading: 2rem;

    --fw-reg: 400;
    --fw-bold: 700;

}


.homeTitle {
    font-size: var(--fs-heading);
    text-align: center;
}